<h2>Products</h2>
<!-- 타입 스크립트에 있는걸 html로 쓰기 위해서 -->
<div *ngFor="let product of products">
  <h3>
    <a [title]="product.name + '입니다.'">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">Description: {{ product.description }}</p>
  <button type="button" (click)="share()">Share</button>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
